.dialog-queue {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;

  &.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dialog {
  border: 1px solid #000;
  background-color: #FFF;

  &.show {
    display: block;
  }

  &.hide {
    display: none;
  }
}
